body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes BGPic {
  0%   {background-image: url('./asset/sokoto.jpeg');}
  25%  {background-image: url('./asset/almanar.jpeg');}
  50%  {background-image: url('./asset/waffroad-1.jpeg');}
  100% {background-image: url('./asset/sokoto.jpeg');}
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name .first-name{
  width: 45%;
}
.name .last-name{
  width: 45%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f1e1ee8;
  padding-left: 10px;
}
ul {
  display: flex;
  justify-content: space-around;
  width:20rem;
  text-decoration: none;
}
ul li a{
  text-decoration: none;
  color: antiquewhite;
}
h3 {
  font-family: cursive;
  font-size: 1rem;
  color: antiquewhite;
}
.main-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  height: 90vh;
  animation-name: BGPic;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
button {
  width: 8rem;
  height: 35px;
  font-size: 14px;
  font-weight: 530;
  border: none;
  border-radius: 5px;
}
button:active {
  opacity: 0.9;
}
#one {
  background-color: goldenrod;

}
#two {
  background-color: black;
  color: white;

}
#three {
 background-color: white;
 color: black;
}

.burger {
  background-color: antiquewhite;
  height: 3px;
  width: 35px;

}
.burger-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: goldenrod;
  justify-content: center;
  margin-left: 3px;
  width: 50px;
 
}
.part-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services {
  background-color:white;
  height: 500px;
  border: 1px solid gray;
  border-radius: 3px;
  width: 95vw;
}
.layout {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.trip {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  column-gap: 10px;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  padding-top: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
}
.btn-signup {
  display: grid;
  grid-auto-flow: column;
  gap: 120px;
  justify-content: center;
  margin-top: 20px;
}
#signup{
  background-color: goldenrod;
  color: black;
  height: 45px;
}
footer {
  background-color: black;
}
.footer-list{
  display: flex;
  flex-direction: column;
}
.footer-list li{
  color: aliceblue;
  list-style-type: none;
}


@media only screen and (max-width: 470px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    justify-content: center;
    height: 82vh;
  }
  .btn-signup {
   grid-auto-flow: row;
   gap: 3px;
  }
  button {
    width: 300px;
    height: 40px;
    font-size: 18px;
    top: 10px;
    bottom: 10px;
    font-weight: 700;
    border-radius: 5px;
  }
  ul {
    display: none;
  }
  .name {
    display: flex;
    flex-direction: column;
  }
  .name .first-name{
    width: 100%;
  }
  .name .last-name{
    width: 100%;
  }
}
